[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
multipart = "*"
geopandas = "*"
python-dotenv = "*"
pytest = "*"
pytest-mock = "*"
docker = "*"
selenium = "*"
selenium-stealth = "*"
fastapi-utils = "*"

[packages.fastapi]
extras = [ "all",]

[packages.black]
git = "https://github.com/psf/black"
